.card {
    -webkit-box-shadow: 0rem 0.9375rem 1.3125rem -0.4375rem rgb(227, 227, 231);
    -moz-box-shadow: 0rem 0.9375rem 1.3125rem -0.4375rem rgb(227, 227, 231);
    box-shadow: 0rem 0.9375rem 1.3125rem -0.4375rem rgb(227, 227, 231);
}